.textFields {
    
    -fx-text-fill: #29363E;
    -fx-prompt-text-fill: #94989A;
    -fx-font-size: 13px;

}
.textFieldsWithBackGround {
    -fx-border-radius: 3 3 0 0;
    -fx-background-color: #E7E6E8;
    -fx-background-radius: 3 3 0 0;
    -jfx-unfocus-color: #94989A;
}

.textFieldsWithBackGround > .input-line {
    
    -fx-pref-height: 1px;
    -fx-translate-y: 0px;
    
}

.withShadow {
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.10), 15, 0.2, 1.4, 1.3 );
    -fx-border-width: 0 0 0 0;
    
}



.jfx-tab-pane .tab-header-background {
    -fx-background-color: #0F7DBA;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: #B2D6E3;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-font-weight: NORMAL;
    -fx-text-fill: rgba(255,255,255, 1);
    -fx-font-size: 15;
    -fx-padding: 7 10 7 10;
}

#findButton {
    -fx-text: "";
    -fx-graphic: url("../img/icons/search_min.png");
}

.fundoTransparent {
    -fx-background-color: transparent;
}


